

Module.export{
    // Export email configuration:
    email_conf: {
	username: "imap-username",
	password: "imap-password",
	host: "imap-host",
	port: 993, // imap port 
	tls: true,
	tlsOptions: { rejectUnauthorized: false },
	mailbox: "INBOX", // mailbox to monitor 
	searchFilter: ["UNSEEN", "FLAGGED"], // the search filter being used after an IDLE notification has been retrieved 
	markSeen: true, // all fetched email willbe marked as seen and not fetched next time 
	fetchUnreadOnStart: true, // use it only if you want to get all unread email on lib start. Default is `false`, 
	mailParserOptions: {streamAttachments: true}, // options to be passed to mailParser lib. 
	attachments: true, // download attachments as they are encountered to the project directory 
	attachmentOptions: { directory: "attachments/" }
    }
    
    // server conf:
};
